#biru {
  background-color: blue;
  color: white;
}
/* untuk semua menu agar diam ditempat
menggunakan padding-top disetiap section*/

/* navbar */
.nav-item {
  padding-right: 20px;
}

.caption {
  padding-top: 60px;
}

@media (min-width: 2000px) {
  .card {
    width: 18rem;
  }
}

.bg-light {
  background-colo: rgba(0, 0, 0, 0) !important;
}
