#biru{
    background-color: blue;
    color: white;
}
.tr{
    margin-left: 100px;
}
.row{
    padding-top: 20px;
}
.h6{
    text-align: center;
}

/* tampilan 
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  */
.btn-group{
    width: 500px;
    border-radius: 0px;
    margin-left: -15px;  
}
.dropdown-menu{
    margin-left: 20px;
}
.btn{
    text-align: left;
}
.panah{
    width: 20px;
    height: 10px;
}
.ah1{
    color: black;
    text-align: center;
}
.p1{
    color: black;
    text-align: justify;
}
.footer-widget{
    background-color: black;
    height: 320px;
    margin-top: 100px;
}
.single-footer-widget{
    margin-top: 10px;
    height: 300px;
}
.site-footer{

}
.label{
    width: 200px;
}
.label{
    margin-right: 90px;
    margin-left: 50px;
}
.article{
    box-shadow:0 0 5px rgba(0,0,0,.25);
    padding:50px;
    border-radius:8px;
    display:inline-block;
    width:60%;
    margin-left: 400px;
    margin-right: 500px;
    margin-bottom: 100px;
    margin-top: 100px;
    color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
/* .aboutt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 1255px;
    box-shadow: 5px 2px 4px rgb(0 0 0);
} */
.rounded-image{
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}
.footer-section{
    margin-top: 160px;
    height: 500px;
}
.label1{
    margin-left: 50px;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container2{
    background: url("../img/bg.jpg") no-repeat;
    width: 100%;
    overflow: hidden;
    margin-bottom: -100px;
    height: 800px;
}
.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: rgba(88, 54, 2, 0.5)
}

#toTopBtn:hover {
    background-color: rgb(71, 45, 3)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}
.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: rgba(232, 193, 84, 0.8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}
.cd-top:hover {
    opacity: 1;
}

