#biru {
  background-color: blue;
  color: white;
}
/* untuk semua menu agar diam ditempat
menggunakan padding-top disetiap section*/

/* navbar */
.nav-item {
  padding-right: 20px;
}

.caption {
  padding-top: 60px;
}

.box-title-content {
  margin: 2rem auto 5rem auto;
  padding: 2rem;
  width: 600px;
  text-align: center;
  background-color: transparent;
  border: 2px solid black;
  /* margin: 10px -15px -15px; */
}

.box {
  width: 200px;
  height: 240px;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding: 2rem 1rem; */
  margin: 1rem 15px;
  border: 0px solid black;
}
